*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}
main{
    height: 100svh;
}
.purplish{
    height: 40vh;
    background-image: url('./images/bg-main-mobile.png');
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 90px;
}
#cardBack{
    background-image: url('/images/bg-card-back.png');
    display: flex;
}
#cardBack p{
    margin: 60px 0px 0px 210px;
}
.cardFront{
    background-image: url('/images/bg-card-front.png');
    position: relative;
    bottom: 190px;
    right: 70px;
    padding: 25px 15px 0px 15px;
}
#cardBack, .cardFront{
    height: 285px;
    width: 270px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.cardFront .cardLogo{
    width: 60px;
    display: block;
}
#numInput p{
    padding-top: 25px;
    font-size: 20px;
}
.otherDetails{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.form h1{
    color: black;
}
@media (min-width:1024px){
    main{
        display: flex;
        height: 100svh;
    }
    .purplish{
        height: 100svh;
        background-image: url('./images/bg-main-desktop.png');
    }
}