*{
    margin: 0;
    padding: 0;
}
.purplish{
    height: 100%;
    background-image: url('./images/bg-main-mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 80px;
}
#cardBack{
    background-image: url('/images/bg-card-back.png');
    display: flex;
    justify-content: center;
    color: white;
}
.cardFront{
    background-image: url('/images/bg-card-front.png');
    position: fixed;
    top: 140px;
    left: 30px;
    padding: 10px;
}
#cardBack, .cardFront{
    height: 285px;
    width: 310px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}